@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*::selection {
  background: #680970cc;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

/* page1 starts */
.page1 {
  height: 250vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  transition: all 1s ease;
}

.toogle {
  position: fixed;
  right: 2%;
  bottom: 15%;
  height: 50px;
  width: 50px;
  background: rgba(105, 104, 105, 0.096);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  color: rgba(27, 27, 27, 0.877);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: all ease .5s;
}

.toogle i {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000b0;
  text-decoration: none;
}

/* navbar section starts */
nav {
  height: 60px;
  width: 100%;
  color: rgba(192, 192, 192, 0.692);
  background: #fff;
  color: rgba(87, 9, 133, 0.568);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  transition: all 1s ease;
}

nav #logo {
  font-size: 1.5rem;
  cursor: pointer;
}

nav #menu {
  display: flex;
  gap: 2.5rem;
}

#menu a {
  text-decoration: none;
  color: rgba(87, 9, 133, 0.568);
  transition: all ease 0.3s;
  cursor: pointer;
}

#menu a:hover {
  color: rgb(236, 182, 137);
  transition: all ease 0.3s;
}

nav #icon {
  display: none;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60px;
  right: -300px;
  height: 300px;
  width: 200px;
  background: rgba(83, 83, 83, 0.068);
  backdrop-filter: blur(10px);
  transition: all ease 1s;
}

#nav-cnt {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  font-weight: 500;
  gap: 2rem;
}

#nav-cnt a {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 1.5px;
  text-decoration: none;
  color: #000000;
  transition: all ease 0.3s;
  cursor: pointer;
}

#nav-cnt a:hover {
  color: rgb(165, 76, 2);
  transition: all ease 0.3s;
}
/* navbar section ends */


/* bgtop image section */
.bg-top {
  height: 300px;
  width: 100%;
  background-image: url('./assets/bg-top.jpg');
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #d16526;
  animation: top .8s ease-in-out;
}

@keyframes top {
  0% {
    opacity: 0.5;
    transform: translateX(-1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}

.bg-top h1 {
  font-size: 4rem;
  color: transparent;
  -webkit-text-stroke: 2px #1735bd;
  margin-bottom: 1rem;
}

.bg-top h2 {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

/* container section */
.content {
  height: 300px;

  width: 100%;
  display: flex;
}

#cnt-lft {
  height: 100%;
  width: 50%;
  padding: 6rem 30px;
  animation: text .7s ease-in-out;
}

@keyframes text {
  0% {
    opacity: 0.5;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

#cnt-lft h1 {
  margin-bottom: 1.3rem;
  color: rgb(226, 141, 43)
}

#cnt-rht {
  height:300px;
  height: 80%;
  width: 50%;
  background: url('./assets/img1.jpg');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 2rem;
  margin-right: 2rem;
  animation: right-img .8s ease-in-out;
}

@keyframes right-img {
  0% {
    opacity: 0.5;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }

}

/* swipper section */
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 30px 70px 55px;
}

.card-list .card-item {
  height: auto;
  color: #fff;
  user-select: none;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(91, 8, 139, 0.39);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 40px;
  border: 3px solid #fff;
  padding: 4px;
  object-fit: cover;
}

.card-list .card-item .user-profession {
  text-align: center;
  font-size: 1.15rem;
  color: #e3e3e3;
  font-weight: 500;
  margin: 14px 0 40px;
}

.card-list .card-item .message-button {
  font-size: 1.25rem;
  padding: 10px 35px;
  color: #030728;
  border-radius: 6px;
  font-weight: 500;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
}

.card-list .card-item .message-button:hover {
  background: rgba(187, 187, 187, 0.726);
  border: 1px solid #fff;
  color: #fff;
}

.slider-wrapper .swiper-pagination-bullet {
  background: #000000;
  height: 13px;
  width: 13px;
  opacity: 0.5;
}

.slider-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}

.slider-wrapper .swiper-slide-button {
  color: #000000;
  margin-top: -55px;
  transition: 0.2s ease;
}

.slider-wrapper .swiper-slide-button:hover {
  color: #d5d6df;
}

@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }

  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}

/* bottom to top arrow */
.arrow {
  height: 50px;
  width: 50px;
  background: rgba(128, 128, 128, 0.096);
  backdrop-filter: blur(10px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
  z-index: 2;
}

.arrow i {
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

/* footer section */
.footer {
  height: 290px;
  width: 100%;
  margin-top: 3rem;
  background: rgba(209, 145, 7, 0.568);
  display: flex;
  position: relative;
}

.footer #ftr-left {
  height: 270px;
  width: 50%;
  /* background: green; */
}

.footer #ftr-mid {
  height: 270px;
  width: 50%;
  /* background: blue; */
}

.footer #ftr-right {
  height: 270px;
  width: 50%;
  /* background: yellow; */
}

.footer #ftr-right input {
  height: 30px;
  width: 250px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.568);
  padding-left: 10px;
}

.footer #ftr-right button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.568);
  background: rgba(0, 0, 0, 0.568);
  color: #fff;
  transition: 0.2s ease;
  cursor: pointer;
}

.footer #ftr-right button:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.2s ease;
}

.footer h3 {
  color: #f5f5f5;
}

.footer #ftr-left,
.footer #ftr-mid,
.footer #ftr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .6rem;
}

#ftr-left a,
#ftr-mid a,
#ftr-right a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

#ftr-left,
#ftr-mid {
  padding-bottom: 2.6rem;
}

.footer #copyright {
  height: 60px;
  width: 100%;
  background: rgba(86, 24, 156, 0.397);
  color: rgb(235, 235, 235);
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 20px;
}

/* Responsiveness for mobile view */
@media screen and (max-width: 768px) {
  .page1 {
    height: 243vh;
  }

  nav #menu {
    display: none;
  }

  nav #icon {
    display: block;
    font-size: 1.5rem;
  }


  .bg-top h1 {
    font-size: 3.5rem;
    -webkit-text-stroke: 2px #e7e7e7;
  }

  .bg-top h2 {
    font-size: 1.3rem;
    color: rgba(230, 215, 11, 0.822)
  }

  /* container section */
  .content {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #cnt-lft {
    height: 45%;
    width: 100%;
    padding: 2rem 30px;
  }

  #cnt-lft h1 {
    margin-bottom: 1rem;
    color: rgb(226, 141, 43)
  }

  #cnt-rht {
    height: 45%;
    width: 100%;
  }

  .footer #ftr-left h3,
  .footer #ftr-mid h3,
  .footer #ftr-right h3 {
    font-size: 1rem;
  }

  .footer #ftr-left a,
  .footer #ftr-mid a,
  .footer #ftr-right a {
    font-size: .9rem;
  }

  .footer #ftr-left,
  .footer #ftr-mid {
    padding-bottom: 2.6rem;
  }

  .footer #ftr-right input {
    width: 125px;
  }

}
